* {
	margin: 0;
	padding: 0
}
a {
	text-decoration: none; 
	color: #70b7a0
}
a:hover {
	color: #ff9900
}
a img {
	text-decoration: none;
	border: 0
}
.l {
	float: left
}
.m {
	text-align: center
}
.r {
	float: right
}
ul, ol{
	list-style-type: none
}
.clear {
	clear: both;
	font-size: 0;
	line-height: 0;
	height: 0
}
table {
	border-collapse: collapse
}
table td {
	vertical-align: top
}
h1, h2, h3, h4 {
	font-size: 12px
}
/*-----------------------------------------------------------------------------------------------
Main Container
-----------------------------------------------------------------------------------------------*/
body {
	color: #555;
	font-family: Verdana, san-serif;
	font-size: 12px;
	line-height: 1.7em;
	background: #f3f3f3 url(img/bg.gif) left top repeat-x fixed; 
	padding: 30px 0
}
#wrapper {
}
#index, #detail {
}
#container {
	margin: 0 auto;  
	text-align: left; 
	width: 806px; 
	padding: 0 51px; 
	background: #fff url(img/container-bg.gif) left top repeat-x; 
	border: 1px solid #e8e8e8;
	border-bottom: 5px solid #a9e1c6
}
/*-----------------------------------------------------------------------------------------------
Header
-----------------------------------------------------------------------------------------------*/
#header {
	min-height: 100px; 
	_height: 100px;
	padding: 50px 20% 0 0;
	position: relative
}
#header .blogName{
	font-size: 24px;
	line-height: 1.4em; 
	font-family: "Microsoft Yahei", "华文细黑";
	font-weight: 400;
	float: left; 
	padding: 0 20px 0 0;
	border-right: 1px solid #ccc; 
	margin: 0 20px 0 0; 
	display: inline
}
#header .description {
	padding: 1em 0
}
#header .blogName a {
}
#header .blogName a:hover {
}
.header-top {
	position: absolute;
	top: -30px;
	right: -2%;
	width: 250px;
	height: 179px;
	background: url(img/bigsprout.gif) no-repeat
}
/*-----------------------------------------------------------------------------------------------
Content
-----------------------------------------------------------------------------------------------*/
#outerContent {
	float: right;
	width: 564px;
	overflow: hidden
}
#posts {}
#noPosts {}
.pageNavi {
	color: #999; 
	background: #e7fcea; 
	padding: 0 5px
}
.pageNavi a {
	margin: 0 3px
}
.pageNavi span {
	margin: 0 10px
}
.context {
	margin: 0 0 20px
}
#posts li {
	margin: 0 0 50px
}
#posts li li{
	margin: 0
}
#posts .postHeader {}
#posts .postHeader h2 {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 1px;
	color: #ff9900;
	font-family: "Microsoft Yahei", "华文细黑"
}
#posts .postHeader h2 a {
color: #ff9900; 
width: 100%; 
}
#posts .postHeader h2 a:hover {
	color: #70b7a0
}
#posts .postHeader h2 .category {
}
#posts .postHeader h3 {
	color: #ccc; 
	font-weight: 400;
	font-size: 14px
}
#posts .postBody {
	word-wrap: break-word;
	overflow: hidden;
	margin: 20px 0;
}
#posts .postBody p {
	margin: 15px 0
}
#posts .postBody li {
	background: none;
	line-height: 1.8em;
	margin: 0
}
#posts .tags a {
	margin: 0 10px 0 0;
}
#posts .postFooter {
	border-top: 1px dashed #70b7a0;
	padding: 5px 0 0;
	color: #bbb
}
#detail #posts .postFooter {
	border-top: 1px dashed #70b7a0
}
#posts .postFooter .tb_url input {
	width: 450px;
	color: #aaa;
	border: 0
}
#posts .postFooter .menubar { margin: 5px 0 }
/*-----------------------------------------------------------------------------------------------
Comment & Trackback
-----------------------------------------------------------------------------------------------*/
#trackbacks, #comments, #commentForm {
	margin: 10px 0 20px
}
#trackbacks h2, #comments h2, #commentForm h2 {
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 2px;
	margin: 0 0 10px; 
	color: #ff9900;
	font-family: "Microsoft Yahei", "华文细黑"
}
#trackbacks li, #comments li {
	word-wrap: break-word
}
#comments li {}
#trackbacks .desc {}
#comments .cmtBody {}
#comments .menubar {
	margin: 5px 0 0;
	padding: 3px 0 0;
	border-top: 1px dashed #ccc
}
#comments .reCmtBody {
	padding: 5px 15px; 
	color: #999
}
#comments .reCmtBody .content {}
.cmtPagenav {
	margin: -20px 0 20px; 
	background: #e7fcea; 
	padding: 0 5px
}
#commentForm form {
	background: #e7fcea;
	padding: 10px
}
#commentForm div {
	margin: 3px 0
}
#commentForm label{
	display: block
}
#commentForm textarea, #commentForm .submit {}
#commentForm textarea {
	overflow: auto;
	width: 95%; 
	border: 1px dashed #70b7a0; 
	padding: 3px; 
	background: #fff
}
#commentForm input {
	border: 1px dashed #70b7a0;
	padding: 3px; 
	background: #fff
}
#commentForm input: focus, #commentForm input.focus, #commentForm textarea: focus, #commentForm textarea.focus {
	border: 1px dashed #ff9900; 
	background: #fff
}
#commentForm .submit input, #commentForm .submit input: focus, #commentForm .submit input.focus {
	padding: 1px 10px;
	_padding: 2px 10px 0;
	background: #FF9900; 
	color: #fff;
	border: 3px solid #f7b551;  
	margin: 0 20px 0 0; 
	letter-spacing: 2px
}
/*-----------------------------------------------------------------------------------------------
Sidebar
-----------------------------------------------------------------------------------------------*/
#outerSidebar {
	word-wrap: break-word;
	width: 201px; 
	float: left; 
	color: #888
}
#sidebar h2 {
	font-weight: 400;
	font-size: 14px;
	font-family: "Microsoft Yahei", "华文细黑";
	letter-spacing: 2px;
	margin: 0 0 10px;
	color: #333;
	padding: 0 0 0 22px
}
#sidebar #nPosts h2 {
	background: url(img/h2-bg.gif) left -125px no-repeat
}
#sidebar #nComments h2 {
	background: url(img/h2-bg.gif) left -150px no-repeat
}
#sidebar #login h2 {
	background: url(img/h2-bg.gif) left -50px no-repeat
}
#sidebar #tags h2 {
	background: url(img/h2-bg.gif) left top no-repeat
}
#sidebar #cats h2,
#sidebar #album h2 { background: url(img/h2-bg.gif) left -102px no-repeat }
#sidebar #profile h2 {
	background: url(img/h2-bg.gif) left -175px no-repeat
}
#sidebar #search h2 {
	background: url(img/h2-bg.gif) left -25px no-repeat
}
#sidebar #archives h2 {
	background: url(img/h2-bg.gif) left -75px no-repeat
}
#sidebar #links h2 {
	background: url(img/h2-bg.gif) left -200px no-repeat
}
#sidebar .module {
	padding: 15px;
	margin: 0 0 20px;
	border: 1px solid #eee;
	background: #f8f8f8
}
#sidebar #custom {
	overflow: hidden;
	margin: 0 0 20px; 
	width: 100%
}
#sidebar #profile a img {
	padding: 3px;
	margin: 8px 0 0 0;
	border: 1px solid #ddd; 
	background: #fff
}
#sidebar #profile a:hover img {
	background: #e7fcea;
	border: 1px solid #a9e1c6
}
#sidebar .modBody {}
#sidebar li {
	line-height: 1.8em
}
#sidebar #tags li{
	display: inline;
	white-space: normal;
	margin: 0 10px 0 0
}
#sidebar #tags .count {
	display: none
}
#sidebar #meta li{
	padding: 0;
	background: none;
	line-height: 2em
}
#sidebar .button {
	padding: 1px 6px;
	_padding: 2px 6px 0;
	background: #FF9900; 
	color: #fff;
	border: 3px solid #f7b551;  
	letter-spacing: 2px
}
#sidebar .textField {
	width: 50%; 
	border: 1px dashed #70b7a0;
	padding: 3px
}
#sidebar #calendar {
	background: #e7fcea url(img/calendar-bg.gif) left top no-repeat; 
	border: 0
}
#sidebar #calendar h2 {
	display: none
}
#sidebar #calendar table {
	width: 100%;
	text-align: center;
	margin: 30px 0 0
}
#sidebar #calendar .modBody {
	border: 0
}
#sidebar #calendar table .calendarHead td {}
#sidebar #calendar table td {
	background: url(img/calendar-td-bg.gif) left bottom repeat-x; 
	padding: 3px 0 
}
#sidebar #calendar table .week {
	color: #a9e1c6
}
#sidebar #calendar table .day {}
#sidebar #calendar table .day a{
	color: #000;
	font-weight: 700
}
#sidebar #calendar table .today {
	color: #FF9900; 
	font-weight: 700;
	font-size: 14px
}
/*-----------------------------------------------------------------------------------------------
Footer
-----------------------------------------------------------------------------------------------*/
#footer {
	color: #ccc; 
	margin: 50px 0 0; 
	padding: 80px 0 20px; 
	background: url(img/pop.gif) center top no-repeat; 
	text-align: center
}
#footer a {
	color: #aaa
}
#content #posts li .postBody ul,ol { margin: 0; padding: 0; margin-left: 20px; }
#content #posts li .postBody li { margin: 0; padding: 0; padding: 0 2px;list-style-position: inside; }
#content #posts li .postBody ul li { list-style: disc; }
#content #posts li .postBody ol li { list-style: decimal; }

/*ctba_blog_theme*/

/*clear both*/  
.clearfix:after {  
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}  
.clearfix {  
	zoom: 1;
	display: inline-block;
	_height: 1px
}  
/* Hides from IE-mac */  
*html .clearfix {
	height: 1%
}  
*+html .clearfix {
	height: 1%
}  
.clearfix {
	display: block
}  
/* End hide from IE-mac */
.fleft {
	float: left
}
.fright {
	float: right
}
.bullet_yellow {
	background: url(../../../images/sprite/icons_b9.png) no-repeat
}
#pgindex {
	clear: both;
	zoom: 1;
	overflow: auto
}
#pgindex ul#pg {
	float: left
}
#pg_all {
	float: left;
	font-size: 11px
}
#pgindex ul#pg li {
	float: left;
	display: inline;
	margin: 0 5px 0 0;
	font-size: 11px
}
.pageindex {
	background: #e7fcea;
	color: #999;
	padding:0 5px
}
.line_block_b {
	margin: 10px 0 0 0
}
#topicContent {
	padding: 5px;
	width: 551px;
	height: 140px;
	font: 12px Verdana;
	border: 1px dashed #70b7a0
}
.tags {
	margin: 5px 0 0;
	text-align: right
}
.right {
	text-align: right
}
ul.infobar li {
	overflow: hidden
}
.reply_list {
	margin: 20px 0 10px 0;
	padding: 0 0 20px 0;
	border-bottom: 1px dashed #eee
}
.reply_user {
	float: left;
	width: 45px;
	margin: 0 3px 0 6px
}
#reply_info {
	float: left;
	padding: 8px 0 0 0
}
.reply_date {
	float: right;
	font-size: 11px;
	padding: 0 6px 0 0
}
#reply_content {
	clear: both;
	margin: 0 0 0 54px;
	_margin: 0 0 0 60px;
	word-break: break-all
}
.quote {
	color: #aaa;
	width: 350px;
	margin: 5px 0;
	padding: 10px;
	line-height: 20px;
	background: #f7f7f7;
	border-left: 5px solid #eee
}
.input_btn {
	color: #fff;
	letter-spacing: 2px;
	margin: 0 20px 0 0;
	background: #ff9900;
	border: 3px solid #f7b551;
	padding: 2px 6px!important;
	>padding: 2px 3px 0 3px!important;
	padding: .3em .2em 0 .3em
}
.btn_mt {
	float: left;
	clear: left;
	margin: 7px 0 7px 0!important;
	margin: 7px 0 0 0
}
.line_blocks {
	clear: both
}
.hits {
	color: #70b7a0
}
.font_mid {
	font-size: 11px
}

/* correlation */
.correlation {
	padding-top: 10px;
	margin-top: 15px;
	border-top:1px dashed #70b7a0
}
.correlation h3 {
	margin-bottom: 5px
}
.correlation ul li {
	float: left;
	width: 50%
}

/* Widget for Gallery */
#widget_gallery { position: relative; width: 120px; height: 79px; border: 5px solid #fff; overflow: hidden; margin-bottom: 5px; background:#fff }
#widget_gallery img { position: absolute; display: block; z-index: 3; opacity: 1 }

ul.em {
	width: 190px;
	padding: 8px 0 0 8px;
}
ul.em li {
	float: left;
	padding: 4px;
	cursor: pointer
}
ul.em li img {
	font-size: 0
}
.empg {
	text-align: right;
	font-size: 10px;
	padding: 6px 6px 10px 6px;
	*padding: 9px 6px
}

/* Widget for Bottom Tip */
#searchEngineHintDiv {
	position: fixed!important;
	right: 5px;
	_position: absolute;
	bottom: 0;
	_bottom: auto;
	top: none;!important;
	_top: expression( eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop + (documentElement.clientHeight - this.clientHeight) - 1 : document.body.scrollTop + (document.body.clientHeight - this.clientHeight) - 1);
	background: #fff;
	width: 250px;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px
}
#searchEngineHintDiv h2 {
	color: #fff;
	background: #f70;
	font-size: 12px;
	padding: 5px 8px;
	margin: 0;
	-moz-border-radius-topleft: 4px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px
}
#searchEngineHintDiv p {
	padding: 5px 8px;
	_padding: 7px 8px 5px 8px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px dashed #ddd
}
#searchEngineHintDiv span.fright a {
	color: yellow
}
#searchEngineHintDiv span.fright a:hover {
	color: white
}
#searchEngineHintDiv ul {
	padding: 6px 8px 8px 8px;
	_padding: 6px 8px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd
}
#searchEngineHintDiv ul li {
	width: 213px;
	height: 20px;
	line-height: 20px;
	padding-left: 18px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	-o-text-overflow: ellipsis; /*for opera*/
	background-position: -8px -262px
}
#searchEngineHintDiv a {
	color: #111;
	text-decoration: none
}
#searchEngineHintDiv a:hover {
	color: #fff;
	background: #f70;
	text-decoration: none
}
#searchEngineHintDiv ul li:after {
	content: "...";
	padding-left: 1px
}
/* login form */
#login_vt table {
	margin-top: 10px
}
#login_vt h2 {
	font-size: 13px
}

/* report button */
a.link_btn_orange { background: #aaa; color: #fff; display: block; height: 19px; line-height: 19px; text-align: center; }
a.link_btn_orange:hover { background: #f70; color: #fff; }
.mt10 { margin-top: 10px; }
.w85 { width: 85px; }

/* remove the ad of blogbus*/
#posts .postBody .c,
#posts .postBody .sysmsg,
#posts .postBody .relpost,
#posts .postBody .addfav {
	display: none
}